body {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.banner {
    background-image: url(images/banner1.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-right: 230px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.banner .content {
    max-width: 550px;
    float: right;
    text-align: right;
}

.banner .content h1.title {
    font-size: 65px;
    color: #151414;
    font-weight: 700;
}

.banner p {
    margin-bottom: 30px;
}

.btn-one {
    background-color: #F15B22;
    color: #fff;
    padding: 20px 30px;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 600;
}

.btn-two {
    background-color: #fff;
    color: #F15B22;
    padding: 20px 30px;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 600;
}

/* main css */

h2.title {
    font-size: 45px;
    color: #151414;
    font-weight: 700;
}

p {
    line-height: 26px;
}

main {
    max-width: 1140px;
    margin: auto;
}


.about {
    display: flex;
    align-items: center;
    margin-top: 140px;
    gap: 50px;
}

.about ul {
    list-style: none;
    line-height: 26px;
    padding-left: 0;
}

.about ul li i {
    color: #16D887;
}

.plans {
    margin-top: 100px;
    text-align: center;
}

.plan-container {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    margin-bottom: 100px;
}

.plan h4 {
    font-size: 30px;
    font-weight: 700;
    color: #151414;
    margin-bottom: 0px;
}

.plan p {
    font-size: 25px;
    color: #737272;
}

.cta {
    background-image: url('images/watch.png'), linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%);
    padding: 60px;
    color: #fff;
    border-radius: 8px;
    background-blend-mode: overlay;
    margin-bottom: 130px;
}

.cta h2 {
    font-size: 40px;
    font-weight: 700;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #151414;
    padding: 130px 230px;
    color: #fff;
}

footer .colume-one {
    max-width: 500px;
}

footer .colume-two {
    min-width: 350px;
}

footer h2.title {
    color: #fff;
}

footer input[type="email"] {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #FFF;
    padding: 20px;
    display: block;
    width: 100%;
    margin-bottom: 18px;
}

footer .social {
    margin-top: 30px;
}

footer .social img{
    margin-right: 12px;
}